// wrapper-background
$space-cadet: #202045;
$english-violet: #412D48;
$catawba: #743B4A;
$middle-red-purple: #A35155;
$bittersweet-shimmer: #B95A54;

// stars
$white: #FCFBFC;

// text
$shimmering-blush: #FFD9DF;

// form-login
// background
$quinacridone-magenta: #883E4F;
$english-red: #B34E56;
$indian-red: #CE5751;

// card-illustration
// martian
$twilight-lavender: #AA586F;
$dark-purple: #201232;
$dark-purple-lighter: #3A1D3B;
$old-mauve: #5C2C45;
$old-mauve-lighter: #6C3145;

// planet
// planet background
$red-salsa: #E65355;
$dark-salmon: #FD9173;
// planet-lands
$indian-red: #C3585A;
$solid-pink: #8F4252;

// little-planet
// background : old-mauve
// land
$dark-red-r89: #6D334B;

