.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 2px;
  margin-right: 15px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:active {
    transform: translateY(2px);
  }
}

.btn-outline {
  background: transparent;
  color: $shimmering-blush;
  border: 1px solid $shimmering-blush;

  &:active, 
  &:hover {
    background: rgba($color: $shimmering-blush, $alpha: 0.3);
  }
}