.planet {
  min-width: 160px;
  min-height: 160px;
  width: 22vmin;
  height: 22vmin;
  max-width: 230px;
  max-height: 230px;
  background: linear-gradient(
    to top right, 
    $red-salsa,
    $dark-salmon
  );
  border-radius: 50%;
  box-shadow: 
    0 0 10px rgba($color: #000000, $alpha: 0.2),
    3px 3px 0 rgba($color: $quinacridone-magenta, $alpha: 0.92),
    6px 6px 2px rgba($color: $dark-purple, $alpha: 0.7),
    ;
}

.planet--small {
  position: absolute;
  min-width: 5vmin;
  min-height: 5vmin;
  width: 5vmin;
  height: 5vmin;
  background: $old-mauve;
  bottom: -1.5vmin;
  clip-path: polygon(
    0 0, 
    100% 0,
    100% calc(100% - 1.5vmin + 1.5px),
    0 calc(100% - 1.5vmin + 1.5px)
  );
  box-shadow: none;
}