.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top right,
    $space-cadet,
    $english-violet,
    $catawba,
    $middle-red-purple,
    $bittersweet-shimmer
  );
}